<%# locals: (source:, scenario_set:, photos: [], allowed_actions: nil, leverage_action_enabled: nil, section_title: nil, uid: nil, hub_mode: false, strava_goals: [], chess_com_goals: [], readonly: false) %>
<% source = source.to_s %>
<% scenario_set ||= ScenarioSet.new(scenarios: []) %>
<% photos = local_assigns.fetch(:photos) { @leverage_photos || [] } %>
<% strava_goals = local_assigns.fetch(:strava_goals) { @strava_goals || [] } %>
<% chess_com_goals = local_assigns.fetch(:chess_com_goals) { @chess_com_goals || [] } %>
<% leverage_on = local_assigns.key?(:leverage_action_enabled) ? leverage_action_enabled : @leverage_action_enabled %>
<% allowed_actions ||= BetaEvents::ScenarioRegistry.allowed_actions_for(source) %>
<% readonly = !!local_assigns.fetch(:readonly, false) %>
<% unless leverage_on %>
  <% allowed_actions = allowed_actions.reject { |pid| BetaEvents::ActionRegistry.find(pid)&.catalog_id == "leverage_photo" } %>
<% end %>
<% section_title ||= t("beta.scenarios.section_title") %>
<% uid ||= source %>
<% hub_mode = !!hub_mode %>

<div class="ds-wallpaper-scenarios" data-scenarios data-scenario-source="<%= source %>">
  <h3 class="ds-section-subtitle"><%= section_title %></h3>

  <div data-scenarios-list>
    <% if scenario_set.empty? %>
      <p class="ds-beta-control-hint" data-scenarios-empty><%= t("beta.scenarios.empty") %></p>
    <% else %>
      <p class="ds-beta-control-hint" data-scenarios-empty hidden><%= t("beta.scenarios.empty") %></p>
      <% scenario_set.scenarios.each_with_index do |scenario, index| %>
        <%= render "scenario_card",
              source: source,
              scenario: scenario,
              index: index,
              photos: photos,
              strava_goals: strava_goals,
              chess_com_goals: chess_com_goals,
              hub_mode: hub_mode %>
      <% end %>
    <% end %>
  </div>

  <% unless hub_mode || readonly %>
    <div class="ds-beta-control-actions" data-scenario-dirty-save="list" hidden>
      <%= submit_tag t("beta.scenarios.save"), class: "ds-btn ds-btn--primary ds-btn--sm" %>
    </div>
  <% end %>

  <% unless readonly %>
    <%= render "consequence_composer",
          source: source,
          allowed_actions: allowed_actions,
          photos: photos,
          strava_goals: strava_goals,
          chess_com_goals: chess_com_goals,
          uid: uid %>
  <% end %>
</div>
