<section class="ds-beta-section ds-beta-section--first">
  <header class="ds-beta-page-head">
    <h1 class="ds-beta-page-title"><%= t("beta.cigarettes_source.heading") %></h1>
    <p class="ds-beta-page-lead">
      <%= t("beta.cigarettes_source.lead") %>
    </p>
  </header>

  <div class="ds-beta-control-card">
    <p class="ds-beta-control-text"><%= t("beta.cigarettes_source.usage_title") %></p>
    <ul class="ds-beta-bullet-list">
      <li><%= t("beta.cigarettes_source.usage_steps.open_app") %></li>
      <li><%= t("beta.cigarettes_source.usage_steps.submit_entry_html", endpoint: api_cigarettes_path) %></li>
      <li><%= t("beta.cigarettes_source.usage_steps.no_lock") %></li>
    </ul>
  </div>

  <div class="ds-beta-control-card ds-beta-section-spaced">
    <p class="ds-beta-control-text"><%= t("beta.cigarettes_source.seconds_title") %></p>
    <p class="ds-beta-control-hint">
      <%= t("beta.cigarettes_source.seconds_hint_prefix_html") %>
      <%= link_to t("beta.cigarettes_source.showcase_link"), beta_sources_showcase_path, class: "ds-inline-link" %>
      <%= t("beta.cigarettes_source.seconds_hint_suffix") %>
      <%= t("beta.cigarettes_source.current_seconds_html", seconds: current_user.showcase_snake_seconds_per_fruit) %>
    </p>
  </div>
</section>
