<%# locals: (goal:, form_url:, form_method:, id_prefix:) %>
<% goal ||= nil %>
<% id_prefix ||= goal ? "strava_goal_#{goal.id}" : "new_strava_goal" %>
<% window_preset = if goal
  goal.window_days == 1 ? "daily" : (goal.window_days == 7 ? "weekly" : "custom")
else
  "weekly"
end %>

<%= form_with url: form_url, method: form_method, local: true, class: "ds-form ds-strava-goal-form", data: { turbo: false } do %>
  <%= hidden_field_tag :enabled, "0" %>
  <div class="ds-form-group">
    <label class="ds-checkbox-label">
      <%= check_box_tag :enabled, "1", goal ? goal.enabled? : true, id: "#{id_prefix}_enabled" %>
      <%= t("beta.strava.goal_active") %>
    </label>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_name", t("beta.strava.name"), class: "ds-form-label" %>
    <%= text_field_tag :name, goal&.name, id: "#{id_prefix}_name", class: "ds-input", placeholder: t("beta.strava.placeholders.name_example"), required: true %>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_required_count", t("beta.strava.required_valid_activities"), class: "ds-form-label" %>
    <%= number_field_tag :required_count, goal&.required_count || 1, id: "#{id_prefix}_required_count", min: 1, max: 100, class: "ds-input", required: true %>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_window_preset", t("beta.strava.sliding_window"), class: "ds-form-label" %>
    <%= select_tag :window_preset, options_for_select(strava_sliding_window_options, window_preset), id: "#{id_prefix}_window_preset", class: "ds-input" %>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_window_days", t("beta.strava.window_days_custom"), class: "ds-form-label" %>
    <%= number_field_tag :window_days, goal&.window_days || 7, id: "#{id_prefix}_window_days", min: StravaGoal::MIN_WINDOW_DAYS, max: StravaGoal::MAX_WINDOW_DAYS, class: "ds-input" %>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_check_time", t("beta.strava.check_time"), class: "ds-form-label" %>
    <%= time_field_tag :check_time, goal&.check_time_label || "00:00", id: "#{id_prefix}_check_time", class: "ds-input", required: true %>
    <p class="ds-beta-control-hint">
      <%= t(
            "beta.strava.time_zone_reminder_html",
            zone: current_user.effective_time_zone,
            account_link: link_to(t("beta.strava.time_zone_account_link"), beta_account_path)
          ) %>
    </p>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_min_duration_minutes", t("beta.strava.min_duration"), class: "ds-form-label" %>
    <%= number_field_tag :min_duration_minutes,
          (goal&.min_duration_seconds.present? ? goal.min_duration_seconds / 60 : nil),
          id: "#{id_prefix}_min_duration_minutes",
          min: 1,
          max: 525_600,
          class: "ds-input",
          placeholder: t("beta.strava.placeholders.min_duration") %>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_min_calories", t("beta.strava.min_calories"), class: "ds-form-label" %>
    <%= number_field_tag :min_calories,
          goal&.min_calories,
          id: "#{id_prefix}_min_calories",
          min: 1,
          max: 1_000_000,
          class: "ds-input",
          placeholder: t("beta.strava.placeholders.min_calories") %>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_strava_sport_type", t("beta.strava.strava_sport_type"), class: "ds-form-label" %>
    <%= select_tag :strava_sport_type,
          options_for_select(
            [[goal ? t("beta.strava.strava_sport_blank_goal") : t("beta.strava.strava_sport_blank_new"), ""]] +
              StravaGoal.strava_sport_type_options_for_select,
            goal&.primary_strava_sport_type
          ),
          id: "#{id_prefix}_strava_sport_type",
          class: "ds-input" %>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_activity_types", t("beta.strava.activity_types_extra"), class: "ds-form-label" %>
    <%= text_field_tag :activity_types,
          goal ? goal.supplemental_activity_types_for_form.join(", ") : nil,
          id: "#{id_prefix}_activity_types",
          class: "ds-input",
          placeholder: goal ? t("beta.strava.placeholders.activity_types") : t("beta.strava.placeholders.activity_types_new") %>
  </div>
  <div class="ds-form-group">
    <%= label_tag "#{id_prefix}_device_names", t("beta.strava.device_names"), class: "ds-form-label" %>
    <%= text_field_tag :device_names,
          goal ? goal.device_names.join(", ") : nil,
          id: "#{id_prefix}_device_names",
          class: "ds-input",
          placeholder: t("beta.strava.placeholders.device_names") %>
  </div>
  <p class="ds-beta-control-hint"><%= t("beta.strava.new_goal_criteria_hint") %></p>
  <div class="ds-beta-control-actions">
    <%= submit_tag goal ? t("beta.strava.save_goal") : t("beta.strava.create_goal"), class: "ds-btn ds-btn--primary ds-btn--sm" %>
  </div>
<% end %>
