<%# locals: (field_prefix:, row_id:, toggle_key:, toggle_label:, toggle_enabled:, fields: [], hint: nil) %>
<div class="ds-wallpaper-sanction-row ds-wallpaper-sanction-row--fields-<%= fields.size %>" data-sanction-row>
  <%= hidden_field_tag "#{field_prefix}[#{toggle_key}_enabled]", "0", id: nil %>

  <label class="ds-beta-catalog-toggle ds-wallpaper-sanction-toggle" for="<%= "#{row_id}_#{toggle_key}_enabled" %>">
    <%= check_box_tag "#{field_prefix}[#{toggle_key}_enabled]", "1", toggle_enabled,
          id: "#{row_id}_#{toggle_key}_enabled",
          class: "ds-beta-catalog-toggle-input",
          data: { sanction_toggle: toggle_key } %>
    <span class="ds-beta-catalog-toggle-switch" aria-hidden="true"></span>
    <span class="ds-wallpaper-sanction-toggle-label"><%= toggle_label %></span>
  </label>

  <% fields.each do |field| %>
    <% field_id = "#{row_id}_#{field[:name]}" %>
    <div class="ds-wallpaper-sanction-field">
      <% if field[:label].present? %>
        <%= label_tag field_id, field[:label], class: "ds-wallpaper-sanction-field-label" %>
      <% end %>
      <%= number_field_tag "#{field_prefix}[#{field[:name]}]",
            field[:value],
            min: field[:min],
            max: field[:max],
            placeholder: field[:placeholder],
            id: field_id,
            class: "ds-wallpaper-sanction-input",
            disabled: !toggle_enabled,
            data: { sanction_field: toggle_key },
            aria: field[:aria].present? ? { label: field[:aria] } : {} %>
    </div>
  <% end %>

  <% if hint.present? %>
    <p class="ds-beta-control-hint ds-wallpaper-sanction-hint"><%= hint %></p>
  <% end %>
</div>
