<%# locals: (field_prefix:, sanction:, delay_field:, delay_value:, show_delay: true, delay_container_data: {}) %>
<% sanction_obj = WallpaperSanction.from_hash(sanction) %>
<% row_id = field_prefix.tr("[", "_").tr("]", "") %>

<% if show_delay %>
  <div class="ds-form-group" <%= tag.attributes(delay_container_data) if delay_container_data.present? %>>
    <%= label_tag delay_field, t("beta.wallpaper_source.delay_minutes"), class: "ds-form-label" %>
    <%= number_field_tag delay_field, delay_value, min: 0, class: "ds-input" %>
  </div>
<% end %>

<div class="ds-wallpaper-scenario-sanctions">
  <%= render "wallpaper_sanction_row",
        field_prefix: field_prefix,
        row_id: row_id,
        toggle_key: "chaster_add_time",
        toggle_label: t("beta.wallpaper_source.sanction.chaster_seconds"),
        toggle_enabled: sanction_obj.chaster_add_time_enabled,
        fields: [{
          name: "chaster_seconds",
          value: sanction_obj.chaster_seconds,
          min: 1,
          max: 86_400,
          placeholder: t("beta.wallpaper_source.sanction.chaster_seconds_placeholder")
        }] %>

  <% if ChasterService.freeze_ui_enabled? %>
    <%= render "wallpaper_sanction_row",
          field_prefix: field_prefix,
          row_id: row_id,
          toggle_key: "chaster_freeze",
          toggle_label: t("beta.wallpaper_source.sanction.freeze_lock"),
          toggle_enabled: sanction_obj.chaster_freeze_enabled,
          fields: [],
          hint: t("beta.wallpaper_source.sanction.freeze_unfreeze_hint") %>
  <% else %>
    <%= hidden_field_tag "#{field_prefix}[chaster_freeze_enabled]", "0" %>
  <% end %>

  <%= render "wallpaper_sanction_row",
        field_prefix: field_prefix,
        row_id: row_id,
        toggle_key: "pishock",
        toggle_label: t("beta.wallpaper_source.sanction.pishock_label"),
        toggle_enabled: sanction_obj.pishock_enabled,
        fields: [
          {
            name: "pishock_intensity",
            label: t("beta.wallpaper_source.sanction.pishock_intensity"),
            value: sanction_obj.pishock_intensity,
            min: 1,
            max: 100,
            aria: t("beta.wallpaper_source.sanction.pishock_intensity")
          },
          {
            name: "pishock_duration",
            label: t("beta.wallpaper_source.sanction.pishock_duration"),
            value: sanction_obj.pishock_duration,
            min: 1,
            max: 15,
            aria: t("beta.wallpaper_source.sanction.pishock_duration")
          }
        ] %>
</div>
