<div class="ds-beta-control-card ds-beta-leverage-how">
  <p class="ds-beta-control-text"><%= t("leverage_photo.how_it_works.intro") %></p>
  <ul class="ds-beta-leverage-how-list">
    <li><%= t("leverage_photo.how_it_works.step_upload") %></li>
    <li><%= t("leverage_photo.how_it_works.step_teaser") %></li>
    <li><%= t("leverage_photo.how_it_works.step_lock") %></li>
    <li><%= t("leverage_photo.how_it_works.step_scenarios") %></li>
  </ul>
  <p class="ds-beta-home-muted"><%= t("leverage_photo.how_it_works.note") %></p>
</div>
