<% content_for :title, t("leverage_photo.index.title") %>

<header class="ds-beta-page-head ds-beta-page-head--compact">
  <div class="ds-beta-leverage-index-head">
    <h1 class="ds-beta-page-title"><%= t("leverage_photo.index.page_title") %></h1>
    <%= link_to t("leverage_photo.index.upload_cta"), beta_leverage_photo_upload_path, class: "ds-btn ds-btn--primary ds-btn--sm" %>
  </div>
</header>

<section class="ds-beta-section ds-beta-section--first">
  <% if @photos.empty? %>
    <div class="ds-beta-control-card">
      <p class="ds-beta-control-text"><%= t("leverage_photo.index.empty") %></p>
    </div>
  <% else %>
    <div class="ds-beta-leverage-list">
      <% @photos.each do |photo| %>
        <%= render "beta_leverage_photo/photo_card", photo: photo, compact: true %>
      <% end %>
    </div>
    <%= render "beta_leverage_photo/crypto_script" %>
  <% end %>
</section>
